div{
    display:inline-block;

}
img {
    max-width:100%;
}


.ucsd_logo {
    width:255px;
}
#navbar {
    width:100%;
    position:sticky;
    top:0;
    background:white;
}
#navbar img {
    float:left;
    max-width: 400px;

}
#navbar ul{
    padding:12px;
    padding-top:0;

}
#navbar a {
    float:left;
    display:block;
    text-align:center;
    padding:12px;
    padding-top:0;
    font-size:28px;
    text-decoration: none;
    
}

#navbar a:hover {
    background-color: #182b49;
    color:white;
}
.section1 {
    scroll-margin-top:168px;
    background-color: rgb(245, 240, 230);
    font-size: 28px;
    padding:12px;

}
.section2 {
    scroll-margin-top:168px;
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    color:white;
    font-size: 28px;
    padding:12px;

}
.section3{
    background-color: rgb(245, 240, 230);
    scroll-margin-top:168px;
    font-size: 28px;
    padding:12px;

}
.subscription {
    background-color: #182b49;
    width:100%;
    color:white;
    font-size: 28px;
    padding:12px;
}

#flexbox {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    gap:25px;
}

#flexbox .box {
    background-color: #182b49;
    color:white;
    max-height: 500px;
    overflow:scroll;
    flex: 1 1 calc(25% - 25px);
    box-sizing: border-box;
    margin-bottom: 25px;
}


@media (max-width: 800px) {
    #navbar ul {
        display:none;
    }
    .ucsd_logo {
        max-width:75%;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 20px;
    }
    #flexbox .box {
        flex: 1 1 calc(50% - 25px); /* 2 columns layout */
    }
}